// MAX-WIDTH CONTAINER SIZE
$max-width: 1920;

// BREAKPOINTS
$mobile: 750;
$tablet: 1170;
$desktop: $tablet + 1;

// COLORS
$primary: #d5874c;
$secondary: #363636;
$third: #ffad6e;
$bgorange: #fff7f2;
$bggray: #f7f7f7;
$bgicon: #595959;
$bgiconsmall: #d5d5d5;

// FONTS
$font-family: "Source Sans 3", sans-serif;
